@import "../../base.scss";


.connections-section {
  .left-side.performance {
    .quote-author {
      padding-bottom: 5px;
    }

    .pos {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  .right-side.performance {
    h3 {
      padding-bottom: 0;
    }
    h4 {
      font-family: GeneralSans, sans-serif;
      font-weight: 500;
      font-size: 2rem;
      padding-bottom: 30px;
    }
  }
}
