/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Font Faces */

@font-face {
  font-family: "Sentient-Light";
  src: url("./assets/fonts/Sentient-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sentient-SemiBold";
  src: url("./assets/fonts/Sentient-Semibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("./assets/icons/GeneralSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Regular";
  src: url("./assets/icons/Sentient-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Italic";
  src: url("./Sentient-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* General Styles */

* {
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

header {
  background-color: #1d5a3a;
  padding: 30px 116px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Section 1 */

.section-1 {
  display: flex;
  align-items: center;
  height: 700px;
  background-color: #fbf4ee;

  .background-color-container {
    width: 100%;
    height: 100%;

    .background-image-container {
      width: 100%;
      height: 100%;
      background-image: url("./assets/icons/section1-transperant-element.svg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .section-1-content-left {
    padding-top: 138px;
    padding-left: 116px;
    width: 50%;

    h2 {
      font-size: 52px;
      font-family: "Sentient-Light";
      color: #173f28;
      line-height: 100%;
      margin-bottom: 25px;
    }

    .description-in-section-2 {
      margin: 25px 0;

      p:nth-child(1) {
        font-size: 22px;
        font-family: "Sentient-Regular";
        width: 60%;
        color: #173f28;
      }

      p:nth-child(2) {
        font-size: 22px;
        font-family: "Sentient-Italic";
        color: #173f28;
        margin-top: 10px;
      }
    }

    .cta-button {
      background-color: #47ad38;
      color: #fff;
      padding: 15px 34px;
      text-decoration: none;
      font-size: 20px;
      border-radius: 30px;
      display: inline-block;
      font-family: "GeneralSans-Medium";
      display: flex;
      align-items: center;
      gap: 10px;
      width: 425px;

      &:hover {
        background-color: #67c554;
      }
    }
  }

  .image-container {
    width: 70%;
    height: 100%;
    background-image: url("./assets/images/section2Image.png");
    background-size: cover;
    background-position: center;
  }
}

/* Section 2 */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5a3a;
  width: 100%;
  padding: 40px 116px;

  h2 {
    color: #fbf4ee;
    font-size: 22px;
    font-family: "Sentient-Light";
    margin-bottom: 30px;
    text-align: center;
  }

  .logos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .logos-container {
      display: flex;
      gap: 50px;
    }
  }
}

/* Section 3 */

.section-3 {
  display: flex;
  align-items: center;
  background-color: #fbf4ee;
  border-bottom: 15px solid #41b729;

  .background-color-container {
    width: 100%;
    height: 100%;

    .background-image-container {
      width: 100%;
      height: 100%;
      background-image: url("./assets/icons/section1-transperant-element.svg");
      background-size: cover;
      background-position: center;
      display: flex;
      padding: 100px 116px;
    }
  }

  .section-3-content-left {
    h2 {
      font-size: 52px;
      font-family: "Sentient-Light";
      color: #084c2b;
      line-height: 100%;
      margin-bottom: 25px;
      width: 40%;
    }

    blockquote {
      font-size: 32px;
      font-family: "Sentient-Italic";
      color: #173f28;
      line-height: 1.5;
      margin: 20px 0;
      background-color: white;
      border-left: 5px solid #47ad38;
      padding: 33px 30px;
      width: 40%;

      cite {
        display: block;
        margin-top: 10px;
        font-family: "Sentient-Italic";
        color: #173f28;
      }
    }
  }

  .section-3-content-right {
    h3 {
      font-size: 28px;
      font-family: "GeneralSans-SemiBold";
      color: #173f28;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
        font-family: "GeneralSans-Medium";
        font-size: 24px;
        color: #173f28;
        width: 78%;

        img {
          margin-right: 30px;
        }
      }
    }
  }
}

/* Section 4 */

.section-4 {
  padding: 60px 116px;
  background-color: #fff;
  .section-4-content {
    h2 {
      font-family: "Sentient-Light";
      font-size: 42px;
      color: #084c2b;
      line-height: 1.2;
      margin-bottom: 39px;
      width: 30%;
    }

    .cta-button {
      background-color: #47ad38;
      color: #fff;
      padding: 15px 34px;
      text-decoration: none;
      font-size: 18px;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-family: "GeneralSans-Medium";
      margin-bottom: 82px;
      width: 260px;
      &:hover {
        background-color: #67c554;
      }
    }
    .three-columns-container {
      .three-columns-inner-container {
        display: flex;
        gap: 52px;
        .column {
          width: 400px;
          img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
          }

          h3 {
            font-family: "Sentient-Light";
            font-size: 32px;
            color: #084c2b;
            margin-bottom: 10px;
            text-align: left;
          }

          p {
            font-family: "GeneralSans-Regular";
            font-size: 18px;
            color: #084c2b;
            line-height: 1.5;
            text-align: left;
            width: 70%;
          }
        }
      }
    }
  }
}

/* Section 5 */

.section-5 {
  background-color: #fbf4ee;
  border-bottom: 15px solid #41b729;
  position: relative;
  padding: 100px 116px;

  .background-color-container {
    .background-image-container {
      position: absolute;
      right: -4%;
      top: 168px;
      width: 375px;
      height: 540px;
      background-image: url("./assets/icons/section5-logo-element-background.svg");
      background-size: cover;
      background-position: center;
    }
    .section5-book-mockup {
      position: absolute;
      right: 178px;
      top: 100px;
    }
    .section-5-content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .left-content {
        h2 {
          font-family: "Sentient-Light";
          font-size: 64px;
          color: #084c2b;
          line-height: 1.2;
          margin-bottom: 40px;
          width: 30%;
        }

        .profile {
          display: flex;
          align-items: center;
          background-color: white;
          width: 615px;
          height: 200px;
          padding: 20px 20px;
          border-left: 5px solid #47ad38;

          img {
            width: 166px;
            height: 166px;
            border-radius: 50%;
            border-top-left-radius: 80%;
            margin-right: 20px;
          }

          .profile-info {
            h3 {
              font-family: "Sentient-Light";
              font-size: 32px;
              color: #084c2b;
              margin: 0;
              width: 70%;
            }

            p {
              font-family: "GeneralSans-Medium";
              font-size: 20px;
              color: #084c2b;
              width: 70%;
            }
          }
        }

        .profile-description {
          font-family: "GeneralSans-Medium";
          font-size: 20px;
          color: #084c2b;
          margin: 40px 0;
        }

        .cta-button {
          background-color: #47ad38;
          color: #fff;
          padding: 15px 34px;
          text-decoration: none;
          font-size: 18px;
          border-radius: 30px;
          display: inline-flex;
          align-items: center;
          gap: 10px;
          font-family: "GeneralSans-Medium";

          &:hover {
            background-color: #67c554;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

/* Section 6 */

.section-6 {
  display: flex;
  align-items: center;
  background-color: #fbf4ee;

  .background-color-container {
    width: 100%;
    height: 100%;

    .background-image-container {
      width: 100%;
      height: 100%;
      background-image: url("./assets/icons/section1-transperant-element.svg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 100px 116px;

      .section-6-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left-content {
          width: 40%;
          .course-image {
            width: 100%;
            border-radius: 8px;
          }
        }

        .right-content {
          width: 55%;
          padding-left: 40px;

          .course-tag {
            font-family: "GeneralSans-SemiBold";
            font-size: 18px;
            color: #41b729;
            margin-bottom: 15px;
          }

          h2 {
            font-family: "Sentient-Light";
            font-size: 64px;
            color: #173f28;
            margin-bottom: 50px;
            width: 60%;
          }

          .course-description {
            font-family: "GeneralSans-Medium";
            font-size: 24px;
            color: #173f28;
            margin-bottom: 23px;
          }

          .course-benefits {
            list-style: none;
            padding: 0;
            margin-bottom: 30px;

            li {
              font-family: "GeneralSans-Medium";
              font-size: 18px;
              color: #173f28;
              margin-bottom: 30px;
              display: flex;
              align-items: center;

              img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
              span {
                font-family: "GeneralSans-SemiBold";
                margin-right: 15px;
                color: #173f28;
              }
            }
          }

          .final-description {
            font-family: "Sentient-Light";
            font-size: 32px;
            color: #084c2b;
            margin-bottom: 20px;
            width: 50%;
          }

          .cta-button {
            background-color: #47ad38;
            color: #fff;
            padding: 15px 34px;
            text-decoration: none;
            font-size: 18px;
            border-radius: 30px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-family: "GeneralSans-Medium";

            &:hover {
              background-color: #67c554;
            }

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

// Footer

footer {
  background-color: #084c2b;
  padding: 75px 116px;
  color: white;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 30px;
    border-bottom: 5px solid #41b729;
  }

  .footer-links,
  .footer-contact {
    h3 {
      font-family: "Sentient-Light";
      font-size: 30px;
      color: #fff;
      margin-bottom: 12px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 15px;

        a {
          font-family: "GeneralSans-Medium";
          font-size: 16px;
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-contact {
    p {
      font-family: "GeneralSans-Medium";
      font-size: 18px;
      color: #fff;
      margin-bottom: 10px;
      a {
        font-family: "GeneralSans-Medium";
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    p {
      font-family: "GeneralSans-Regular";
      font-size: 16px;
      color: #fff;
    }

    .footer-bottom-links {
      display: flex;
      gap: 20px;

      a {
        font-family: "GeneralSans-Medium";
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
