@font-face {
  font-family: "Sentient-Light";
  src: url("./assets/fonts/Sentient-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sentient-SemiBold";
  src: url("./assets/fonts/Sentient-Semibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("./assets/icons/GeneralSans-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Regular";
  src: url("./assets/icons/Sentient-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Italic";
  src: url("./Sentient-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

header {
  background-color: #1d5a3a;
  padding: 30px 116px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Section 1 */
.section-1 {
  display: flex;
  align-items: center;
  height: 700px;
  background-color: #fbf4ee;

  .background-color-container {
    width: 100%;
    height: 100%;

    .background-image-container {
      width: 100%;
      height: 100%;
      background-image: url("./assets/icons/section1-transperant-element.svg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .section-1-content-left {
    padding-top: 138px;
    padding-left: 116px;
    width: 50%;

    h2 {
      font-size: 52px;
      font-family: "Sentient-Light";
      color: #173f28;
      line-height: 100%;
      margin-bottom: 25px;
    }

    .description-in-section-2 {
      margin: 25px 0;

      p:nth-child(1) {
        font-size: 22px;
        font-family: "Sentient-Regular";
        width: 60%;
        color: #173f28;
      }

      p:nth-child(2) {
        font-size: 22px;
        font-family: "Sentient-Italic";
        color: #173f28;
        margin-top: 10px;
      }
    }

    .cta-button {
      background-color: #47ad38;
      color: #fff;
      padding: 15px 34px;
      text-decoration: none;
      font-size: 20px;
      border-radius: 30px;
      display: inline-block;
      font-family: "GeneralSans-Medium";
      display: flex;
      align-items: center;
      gap: 10px;
      width: 425px;

      &:hover {
        background-color: #67c554;
      }
    }
  }

  .image-container {
    width: 70%;
    height: 100%;
    background-image: url("./assets/images/section2Image.png");
    background-size: cover;
    background-position: center;
  }
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5a3a;
  width: 100%;
  height: 239px;
  padding: 40px 116px;

  h2 {
    color: #fbf4ee;
    font-size: 22px;
    font-family: "Sentient-Light";
    margin-bottom: 30px;
    text-align: center;
  }

  .logos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .logos-container {
      display: flex;
      gap: 50px;
    }
  }
}

/* Section 3 */
.section-3 {
  display: flex;
  align-items: center;
  height: 816px;
  background-color: #fbf4ee;
  border-bottom: 15px solid #41b729;

  .background-color-container {
    width: 100%;
    height: 100%;

    .background-image-container {
      width: 100%;
      height: 100%;
      background-image: url("./assets/icons/section1-transperant-element.svg");
      background-size: cover;
      background-position: center;
      display: flex;
    }
  }

  .section-3-content-left {
    padding-top: 138px;
    padding-left: 116px;

    h2 {
      font-size: 52px;
      font-family: "Sentient-Light";
      color: #084c2b;
      line-height: 100%;
      margin-bottom: 25px;
      width: 40%;
    }

    blockquote {
      font-size: 32px;
      font-family: "Sentient-Italic";
      color: #173f28;
      line-height: 1.5;
      margin: 20px 0;
      background-color: white;
      border-left: 5px solid #47ad38;
      padding: 33px 30px;
      width: 40%;

      cite {
        display: block;
        margin-top: 10px;
        font-family: "Sentient-Italic";
        color: #173f28;
      }
    }
  }

  .section-3-content-right {
    padding-right: 116px;
    padding-top: 100px;

    h3 {
      font-size: 28px;
      font-family: "GeneralSans-SemiBold";
      color: #173f28;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
        font-family: "GeneralSans-Medium";
        font-size: 24px;
        color: #173f28;
        width: 60%;

        img {
          margin-right: 30px;
        }
      }
    }
  }
}

/* Section 4 */
.section-4 {
  padding: 60px 116px;
  background-color: #fff;
  .section-4-content {
    margin: 0 116px;
    h2 {
      font-family: "Sentient-Light";
      font-size: 42px;
      color: #084c2b;
      line-height: 1.2;
      margin-bottom: 39px;
      width: 30%;
    }

    .cta-button {
      background-color: #47ad38;
      color: #fff;
      padding: 15px 34px;
      text-decoration: none;
      font-size: 18px;
      border-radius: 30px;
      display: flex;
      gap: 10px;
      font-family: "GeneralSans-Medium";
      margin-bottom: 82px;
      width: 190px;
      &:hover {
        background-color: #67c554;
      }
    }
    .three-columns-container {
      .three-columns-inner-container {
        display: flex;
        gap: 52px;
        .column {
          width: 400px;
          height: 490px;
          img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
          }

          h3 {
            font-family: "Sentient-Light";
            font-size: 32px;
            color: #084c2b;
            margin-bottom: 10px;
            text-align: left;
          }

          p {
            font-family: "GeneralSans-Regular";
            font-size: 18px;
            color: #084c2b;
            line-height: 1.5;
            text-align: left;
            width: 70%;
          }
        }
      }
    }
  }
}
