@import "../../base.scss";

.connections-section {
  .left-side.webinar {
    .quote-author {
      padding-bottom: 5px;
    }

    .pos {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
