@import "../../base.scss";

/*HERO SECTION*/
.hero-container {
  background-color: $beige;
  background-image: url("../../assets/images/pattern-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  position: relative;

  .hero-inner-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 80px;
    height: 700px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
    align-items: first baseline;

    p {
      font-family: Sentient, sans-serif;
      font-size: 1.3rem;
      font-weight: normal;
      max-width: 350px;

      em {
        padding: 10px 0;
        display: block;
      }
    }
  }
  .image-wrapper {
    background-image: url("../../assets/images/innovation-hero-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 846px;
    height: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
  }
}

/*CLIENTS SECTION*/
.clients-section {
  background: $maindarkgreen;

  .clients-section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    gap: 25px;

    p {
      color: $white;
      font-family: Sentient, sans-serif;
      font-size: 1.3rem;
      font-weight: normal;
    }

    .logos-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }
}

/*INNOVATION SECTION*/
.connections-section {
  background-color: $beige;
  background-image: url("../../assets/images/pattern-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  border-bottom: 16px solid $mainlightgreen;

  .connections-section-wrap {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: first baseline;

    .left-side {
      flex: 1;

      .quote-wrap {
        background: $white;
        padding: 35px 30px;
        border-left: 3px solid $mainlightgreen;

        .quote-text {
          font-size: 1.8rem;
          font-family: Sentient, sans-serif;
          font-style: italic;
          padding-bottom: 20px;
        }

        .quote-author {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }

    .right-side {
      flex: 1;

      .icon-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
          display: flex;
          align-items: center;
          gap: 25px;

          p {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 2rem;
          }
        }
      }
    }

    h2 {
      padding-bottom: 40px;
      max-width: 460px;
    }
    h3 {
      font-family: GeneralSans, sans-serif;
      font-weight: 600;
      font-size: 2.1rem;
      line-height: 1;
      padding-bottom: 30px;
    }
  }
}

/*CENTRIC APPROACH*/

.centric-approach-section {
  padding: 100px 0;

  .centric-approach-inner {
    display: flex;
    gap: 70px;
    flex-direction: column;
    justify-content: center;

    .intro-heading {
      max-width: 840px;
    }

    .centric-approach-list {
      ul {
        display: flex;
        gap: 40px;
        justify-content: space-between;

        li {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex: 1;

          h3 {
            padding-top: 10px;
            font-size: 2rem;
            line-height: 1.1;
          }

          p {
            font-size: 1.2rem;
            line-height: 1.3;
          }

          img {
            border-radius: 20px;
          }
        }
      }
    }

    .subscription-section {
      background: #fbf4ee;
      padding: 40px;
      border-radius: 20px;

      h3 {
        font-size: 2rem;
        line-height: 1.1;
        padding-bottom: 40px;
      }

      .form-outer {
        display: flex;
        align-content: flex-start;
        gap: 40px;

        .webinar-img {
          flex: 1;
        }

        .form-shell {
          flex: 1;

          #mc_embed_signup {
            margin-bottom: 15px;

            .mc-field-group {
              margin-bottom: 15px;

              label {
                display: block;
                font-size: 16px;
                color: $maindarkgreen;
                margin-bottom: 5px;
                font-weight: 500;
                font-family: GeneralSans, sans-serif;
              }

              input {
                width: 100%;
                border: 2px solid #abaa9c;
                border-radius: 10px;
                font-size: 16px;
                color: #272726;
                transition: border 0.3s ease;
                box-sizing: border-box;
                background: #fff;
                height: 50px;
                padding: 10px 15px;
                font-weight: 500;
                font-family: GeneralSans, sans-serif;

                &:focus {
                  border-color: #53aadc;
                  outline: none;
                }
              }
            }

            .button {
              background-color: #47ad38;
              color: $white;
              border: none;
              padding: 16px 35px;
              font-size: 1.2rem;
              line-height: 1.2rem;
              border-radius: 30px;
              display: flex;
              gap: 15px;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: $maindarkgreen;
              }
            }

            .indicates-required {
              margin-bottom: 15px;
              font-size: 0.9rem;
              font-style: italic;
            }
          }

          .gdpr {
            p {
              font-size: 0.8rem;
              color: $maindarkgreen;
              line-height: 1.4;
            }

            a {
              color: #53aadc;
              text-decoration: underline;

              &:hover {
                color: #2bae46;
              }
            }
          }
        }
      }
    }
  }
}

/*NETWORK LEADERSHIP*/

.network-leadership-section {
  background: $beige;
  padding: 100px 0;
  border-bottom: 16px solid $mainlightgreen;
  overflow: hidden;

  .network-leadership-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .coral-el {
      position: absolute;
      right: -150px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }

    .left-side {
      flex: 1;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        max-width: 460px;
      }

      .profile-wrap {
        background: $white;
        padding: 25px 30px;
        border-left: 3px solid $mainlightgreen;
        display: flex;
        align-items: center;
        gap: 20px;

        .profile-credentials {
          h3 {
            font-size: 1.9rem;
            line-height: 1.2;
            padding-bottom: 10px;
          }

          p {
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.3;
          }
        }
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3;
      }

      .linkedin-link {
        display: flex;
        align-items: flex-start;
      }
    }

    .right-side {
      flex: 1;
      position: relative;
      z-index: 10;
    }
  }
}

/*TRANSFORM SECTION*/
.transform-section {
  padding: 100px 0;
  background-image: url("../../assets/images/pattern-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .transform-inner {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;

    .left-side {
      flex: 1;
    }

    .right-side {
      flex: 1;
      display: flex;
      gap: 30px;
      flex-direction: column;

      .intro-heading {
        p {
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: uppercase;
          color: $mainlightgreen;
          padding-bottom: 10px;
        }
      }

      .course-content {
        .coure-desc {
          font-family: GeneralSans, sans-serif;
          font-weight: 500;
          font-size: 1.6rem;
          padding-bottom: 15px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;

          li {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
              font-size: 1.1rem;
              font-weight: 500;
            }
          }
        }
      }
      .course-cta {
        h3 {
          font-size: 1.9rem;
          line-height: 1.2;
          padding-bottom: 20px;

          
        }

        .cta-link {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }
}

/*GLOBAL ELEMENTS*/
.cta-button {
  background-color: #47ad38;
  color: $white;
  border: none;
  padding: 12px 35px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: GeneralSans, sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $maindarkgreen;
  }
}
