/* VARS*/
$maindarkgreen: #084C2B;
$mainlightgreen: #41B729;
$headings: #173F28;
$beige: #EDECDA;
$white: #FBF4EE;


/* FONTS */

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "GeneralSans";
  src: url("./assets/fonts/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Sentient";
  src: url("./assets/fonts/Sentient-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient";
  src: url("./assets/fonts/Sentient-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sentient";
  src: url("./assets/fonts/Sentient-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}