/* Make Colors Variables */
// $black-color: #021019;

/* Font Faces */

@font-face {
  font-family: "Sentient-Light";
  src: url("./assets/fonts/Sentient-Light.wolff2") format("wolff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("./assets/icons/GeneralSans-Medium.wolff2") format("wolff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Regular";
  src: url("./assets/icons/Sentient-Regular.wolff2") format("wolff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sentient-Italic";
  src: url("./Sentient-Italic.wolff2") format("opentype");
  font-weight: normal;
  font-style: italic;
}
